@import '../../../variables.scss';


.nameAndI{
    display: flex;
    align-items: center;
}
.profileIcon{
    display: flex;
    background-color: $whitesemi;

    border:2px solid $purple1;
    border-radius: 20px;
    flex-direction: column;
    font-family: $font-content;
    font-size: 1.5em;
    justify-content: space-between;
    height:10em;
    padding:10px;
}
.usernameProfile{
    font-family: $font-title-content;
    color:$purple1;
}
.usernameProfile:hover{
    color:$purple4;
}
.WhoFollowNameP{
    font-family: $font-title-content;
    color:$purple1;
}