
.carrousel{
    display:flex;
    flex-direction: column;
    
    img{
        width:64em;
        height:43em;
    }
    width:60%;
}

@media only screen and (max-width: 600px) {
    .carrousel{
        display: none;
    }
}