

.stories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 3px;
    overflow: scroll;
    padding-top: 14px;
    .imgUserConnect{
        width:5em;
    }
}

::-webkit-scrollbar {
    display: none;
}