

.stories {
    display: flex;
    align-items: flex-start;
    border: 1px solid rgb(224, 219, 219);
    border-radius: 3px;
    width: 100%;
    overflow: scroll;
    padding-top: 14px;
}

::-webkit-scrollbar {
    display: none;
}