@import '../../../../variables.scss';

.btnModalC{
   all:unset !important;
   border-radius: 6px !important;
  padding:0.5em !important;
}
.big{
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.69);
}