@import '../../../variables.scss';

.fa-circle-plus{
    color:white;
}
button {
    color:white !important;
    font-family: $font-title-content !important;
    border:2px solid $purple1 !important;
    background-color: $semi !important;


}
button:hover{
    cursor:url('../../../assets/click.png'),pointer;

    background-color: $purple1 !important;
    border:2px solid $purple1 !important;
}
.ant-modal-body{
    font-family: $font-title-content;
    font-size: 1.5em;
}
.ant-modal-title{
    font-family: $font-title-vb;
    color:$purple1 !important;
    font-size: 2em !important;
}