@import '../../../variables.scss';

.fa-circle-plus{
    color:white;
}
button {
    color:white !important;
    font-family: $font-title-content !important;
    border:2px solid $purple1 !important;
    background-color: $semi !important;


}
button:hover{
    background-color: $purple1 !important;
    border:2px solid $purple1 !important;
}