@import '../../../../variables.scss';

.centerReg{
   display:flex;
   justify-content: center;
   padding:2em;
   margin:1em;
}
.formReg{
    width:50%;
    

}
.register{
    height:40em;
    background-color: $purple3;
    border-radius:30px;
}
label{
   font-family: $font-title-content;
   color:white;
}