@import '../../../variables.scss';

.contentHome{
    font-family: $font-title-content;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: white!important;
}
.ant-tabs-tab.ant-tabs-tab-active:hover .ant-tabs-tab-btn:hover {
    cursor:url('../../../assets/click.png'),pointer;

    color:white !important;
}
.ant-tabs-tab:hover{
    cursor:url('../../../assets/click.png'),pointer;

    color:white !important;
}
.ant-tabs-ink-bar {
   
    background: white !important;
   
}
