@import '../../../../variables.scss';

.postContent{
    display:flex;
    flex-direction: column;
    border:2px solid black;
    .contentText{
        display:flex;
        
        
       
    }
}

.bold{
    font-weight: bolder;

}
.italic{
    font-style: italic;
}
.imgUser{
    width:3em;
}
.imgPost{
    width:40em;
}

.comments{
    display:flex;
flex-direction: column;
border:1px solid black;
margin:1em;
}


.gifComment{
    width:8em;
    height: 8em;
}
.imgUserC{
    width:2em;
    height:2em;
}
.fa-heart{
    color:$purple1;
}
.fa-heart:hover{
    cursor:pointer;
}