@import '../../../../variables.scss';

.postContent{
    display:flex;
    flex-direction: column;
    border:2px solid $purple1;
    padding:10px;
    border-radius: 10px;
    box-shadow: 9px -10px rgba(172, 170, 170, 0.579);
    margin:2em;
    background-color: $whitesemi2;
}
.contentText{
    margin-left: 1em;
    display:flex; 
    font-family: $font-content; 
    font-size: 2em;
}
.headerPost{
    font-family: $font-title-content;
}
.h1{
    font-family: $font-title-vb;
    color:$purple2;
    font-size: 3em;
}
.nameUser{
    font-weight: bolder;
    font-family: $font-title-content; 
}
.date{
    font-family: $font-title-content;
    font-style: italic;
    
}
.iconsPosts{
    display:flex;
    justify-content: center;
    padding:0.5em 0;
    align-items: center;
}
.textlike{
    font-family: $font-title-content;
}
.bold{
    font-weight: bolder;

}
.italic{
    font-style: italic;
}

.imgUser{
    width:3em;
    border-radius: 100px;
}
.imgPost{
    width:40em;
}

.comments{
    display:flex;
flex-direction: column;
border:2px dashed $purple1;
border-radius: 20px;
background-color: $semi;
margin:1em;
}

.textC{
    font-family: $font-content;
    font-size: 1.4em;
}

.gifComment{
    width:7em;
    height: 7em;
}
.imgUserC{
    border-radius: 50px;
    width:2em;
    height:2em;
}
.fa-heart{
    color:$purple1;
}
.fa-heart:hover{
    cursor:url('../../../../assets/click.png'),pointer;

    cursor:pointer;
}

.ant-pagination-total-text, .ant-pagination-item{
    font-family: $font-title-content !important;
}
@media  screen and (max-width: 600px) {
    .imgPost{
        width:20em;
    }
    .imgUser{
        width:1.5em;
    }
    .gifComment{
        width:4em;
        height: 4em;
    }
    .nameUser, .textlike, .textC, .contentText{
       font-size: 1em;
    }
    .date{
       font-size: 0.5em;
        
    }
    .imgUserC{
        width:1.3em;
        height:1.3em;
    }
  
}