@import '../../../../variables.scss';

.postContent{
    display:flex;
    flex-direction: column;
    border:2px solid $purple1;
    padding:10px;
    margin:1em;
    background-color: $semi;
}
.contentText{
    margin-left: 1em;
    display:flex; 
    font-family: $font-content; 
    font-size: 2em;
}
.headerPost{
    font-family: $font-title-content;
}
.h1{
    font-family: $font-title-vb;
    color:$purple2;
    font-size: 3em;
}
.nameUser{
    font-weight: bolder;
    font-family: $font-title-content; 
}
.date{
    font-family: $font-title-content;
    font-style: italic;
    
}
.iconsPosts{
    display:flex;
    justify-content: center;
    padding:0.5em 0;
    align-items: center;
}
.textlike{
    font-family: $font-title-content;
}
.bold{
    font-weight: bolder;

}
.italic{
    font-style: italic;
}

.imgUser{
    width:3em;
    border-radius: 100px;
}
.imgPost{
    width:40em;
}

.comments{
    display:flex;
flex-direction: column;
border:2px dashed $purple1;
border-radius: 20px;
background-color: $semi;
margin:1em;
}

.textC{
    font-family: $font-content;
    font-size: 1.4em;
}

.gifComment{
    width:8em;
    height: 8em;
}
.imgUserC{
    border-radius: 50px;
    width:2em;
    height:2em;
}
.fa-heart{
    color:$purple1;
}
.fa-heart:hover{
    cursor:pointer;
}