@import '../../variables.scss';

.main{
    display:flex;
    flex-direction: column;
}

.contentMain{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.right{
    display:flex;
    flex-direction: column;
    position: sticky;
    top: 23em;
    height:25em;
}
.sticky{
    position: relative;
    top: 0;
}
.buttonspost{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   align-items: center;
  border-bottom:2px solid $purple1;
  padding:1em 0;
}