@import '../../variables.scss';

.main{
    display:flex;
    flex-direction: column;
    background-image: url('../../assets/background.png');
    background-size:cover;
    background-attachment:fixed;
   
}

.contentMain{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
   
    
}
.right{
    display:flex;
    flex-direction: column;
    position: sticky;
    top: 23em;
    height:25em;
}
.sticky{
    position: relative;
    top: 0;
}
.buttonspost{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   align-items: center;
   background-color: $whitesemi2;
  border-bottom:2px solid $purple1;
  padding:1em 0;
}
.titleSearch{
    font-family: $font-title-content;
    color:$purple4;
}
.searchC{
    border:2px solid $purple1;
    padding:0.6em;
    background-color: $whitesemi;
    border-radius: 20px;

}
.searchPost{
    all:unset !important;
    
}
.iconS{
    color:$purple1;
    font-size: 1.4em;
}

@media screen and (max-width: 600px) {
    .sticky{
        display: none;
    }
    .whoFollow{
        display: none;
    }
   
}