.main{
    display:flex;
    flex-direction: column;
}

.contentMain{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.right{
    display:flex;
    flex-direction: column;
}