@import '../../../../variables.scss';


.profileDetail{
    background-image: url('../../../../assets/background.png');
    background-size:cover;
    background-attachment:fixed;
}
.headerProfile{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.imgUserProfileB{
    border-radius: 100px;
width:10em;
margin:1em;
}
svg:hover{
    cursor:url('../../../../assets/click.png'),pointer;

    color:$purple5;
}
.buttonsProfile{
    margin-left:2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profileName{
    font-family: $font-title-content;
    font-size: 2em;
    color:white;
}
.textProfileD{
    font-family: $font-content;
    font-size: 2em;
    color:white;
}
.logoutP{
    display: flex;
    font-size: 3em;
    align-items: center;
    a{
        color:white !important;
    }
    a:hover{
        cursor:url('../../../../assets/click.png'),pointer;

        color:$purple3 !important;
    }
}
.block{
    display: flex;
    align-items: center;
}

    .ant-tabs-tab-btn{
        font-family: $font-title-content;
        font-size: 1.4em;
    }

.ant-tooltip{
   font-size: 1.5em !important;
    font-family: $font-content;
}

@media screen and (max-width: 600px) {
    .block{
        flex-direction: column;
    }
}