@import '../../../variables.scss';


.whoFollow{
    border:2px solid $purple1;
    border-radius: 20px;
    width:18em;
    padding:1em;
    overflow: scroll;
    background-color: $whitesemi;

}
.WhoFollowName{
    color:white;
    font-size: 1.3em;
    font-family: $font-title-content;
}
@media screen and (max-width: 600px) {
    .display{
        display: none;
    }
}