@import '../../../variables.scss';


.whoFollow{
    border:2px solid grey;
    width:18em;
    padding:1em;
   
    height: 15em;
    overflow: scroll;
}
.WhoFollowName{
    font-family: $font-title-content;
}