@import '../../../../variables.scss';

.centerLog{
    display:flex;
    justify-content: center;
    padding:2em;
    margin:1em;
 
}
.formLog{
    width:50%;
}
.login{
    background-color: $purple1;
    height:35em;
    border-radius:30px;
}
@media  screen and (max-width: 600px) {
    .centerLog{
       padding:0;
    }
    .ant-tabs-tab-btn{
        font-size: 1em !important;
    }
    .login{
        width:20em;
    }
}
.loginBt{
    all:unset;
    margin:1em;
    padding:0.5em;
    border-radius: 5px;
    background-color: white !important;
    border:1px solid $purple5 !important;
    color:$purple1 !important;
}
.loginBt:hover{
    background-color: $purple1 !important;
    border:1px solid $purple5 !important;
    color:white!important;
    cursor:pointer;
}