@import '../../../../variables.scss';

.centerLog{
    display:flex;
    justify-content: center;
    padding:2em;
    margin:1em;
 
}
.formLog{
    width:50%;
}
.login{
    background-color: $purple1;
    height:35em;
    border-radius:30px;
}
@media only screen and (max-width: 600px) {
    .centerLog{
       padding:0;
    }
    .ant-tabs-tab-btn{
        font-size: 1em !important;
    }
    .login{
        width:20em;
    }
}