@import '../../variables.scss';

.header{
font-size:4em;
color:$purple2;
text-shadow: 2px -1px black;

    font-family: $font-title-vb;
    position: sticky;
    top:0;
    background-color: $whitesemi;
    border-bottom:2px solid $purple1;
    z-index: 1;
}
.admin{
    background-color: $semi;
   a{
    color:white;
   } 
   a:hover{
    cursor:url('../../assets/click.png'),pointer;
    color:$purple1;
   }
}
@media  screen and (max-width: 600px) {
    .header{
        font-size: 1.5em;
        text-shadow:none;

    }
}
.admin{
    a{
        font-family: $font-title-content;
        font-size: 2em;
    }
}