@import '../../variables.scss';

.header{
font-size:4em;
color:$purple2;
    font-family: $font-title-vb;
    position: sticky;
    top:0;
    background-color: $whitesemi;
    border-bottom:2px solid $purple1;
    z-index: 1;
}
.admin{
    background-color: $semi;
   a{
    color:white;
   } 
}
@media  screen and (max-width: 600px) {
    .header{
        font-size: 1.5em;
    }
}
.admin{
    a{
        font-family: $font-title-content;
        font-size: 2em;
    }
}