@import '../../../../variables.scss';

.fa-solid:active, .fa-solid:hover{
    cursor:pointer;
}
.fa-solid:hover{
    color:$purple5;
}
.fa-people-group, .fa-person-walking-arrow-right{
    font-size: 2em;
}
.fa-people-group{
    color:$purple3;
}
.fa-person-walking-arrow-right{
    color: $purple1;
}
.fa-eye{
    color:$purple5;
}
.fa-eye:hover{
    color:$purple1;
}
.connects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px;
   
    
}
.nameFollow{
    font-family: $font-content;
    font-size: 2em;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:5.5em;
    
}
.usernameEye{
    display: flex;
    width:14em;
    justify-content: space-between;
    align-items: center;
    margin-right:2em;
}