 @import '../../variables.scss';


hr{
    margin:0;
    background-color: $purple3;
    border: 2px solid $purple3;

}
.footer{
    background-color: $whitesemi;
}

.social {
    display: flex;
    padding:0.5em;
    justify-content: space-between;
    align-items: center;
    a {
        cursor:  pointer;
        svg{
            font-size: 3em;
            padding: 8px;
            color:$purple1;
        }
        svg:hover{
            color:$purple4;
        }
    }
}
.nameF{
    font-family: $font-title-content;
    font-size: 1.3em;
    color:$purple1;
}
@media screen and (max-width: 600px) {
    .nameF{
        font-size: 1em;
    }
    .social{
        justify-content: center;
    }
}