$purple1:#4b0081;
$purple2:#650099;
$purple3:#7f00b2;
$purple4:#ab3ed8;
$purple5:#d86aff;

$semi:#4b008182;

$whitesemi:rgba(255, 255, 255, 0.76);
$whitesemi2:rgba(255, 255, 255, 0.833);

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');


$font-title-vb: 'Fredericka the Great', cursive;
$font-content: 'La Belle Aurore', cursive;
$font-title-content: 'Croissant One', cursive;
