
.postsUser{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.postsProfile{
    width:29em;
    height: 27em;
    border-radius: 20px;
}
.postContentProfile{

  a{
    margin:2em 3em;
    display:flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .postsProfile{
      width:20em;
  }
}