
.postsUser{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}
.postsProfile{
    width:29em;
    height: 27em;
    border-radius: 20px;
}
.postContentProfile{

  margin:1em;
  a{
    display:flex;
    flex-direction: column;
  }
}